# -------------------------------------------------------------------
# ARCHIVOS GENERADOS POR BUILD
# -------------------------------------------------------------------
target/
build/
*.jar
*.war
*.zip

# -------------------------------------------------------------------
# CONFIGURACIÓN DEL ENTORNO DE DESARROLLO
# -------------------------------------------------------------------
.idea/
.vscode/
*.iml
*.iws
*.ipr

# -------------------------------------------------------------------
# LOGS
# -------------------------------------------------------------------
log/
*.log

# -------------------------------------------------------------------
# BASE DE DATOS LOCAL
# -------------------------------------------------------------------
*.mv.db
*.trace.db
/data/ # Si usas una carpeta 'data' local para persistencia

# -------------------------------------------------------------------
# CACHÉS DEL SISTEMA OPERATIVO
# -------------------------------------------------------------------
.DS_Store
Thumbs.db

# -------------------------------------------------------------------
# SPRING BOOT ACTUATOR Y PROPIEDADES SENSIBLES
# -------------------------------------------------------------------
!/src/**/application.properties
/src/**/application-*.properties